{% extends "blog/base.html" %}
{% load static %}
{% block content %}

<!-- Search form -->
<!-- Display the search form only if there are posts to search in -->

<div style="margin-left:200px;">
<h1 style="font-family: 'Amanda', cursive; color: #3c1ad1;font-weight:50; font-size: 4rem; text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); margin-top:10px;">Welcome To Chronicle</h1>
</div>
{% if posts or request.GET.search %}
<style>

  #searchFieldHomepage {
    background-color: #ffffff;
    width: calc(100% - 70px);
    box-sizing: border-box;
    margin-top: 150px;
    margin-left: -230px;
  }
  
  #searchButtonHomepage {
    position: relative;
    width: 35px;
    height: 35px;
  top:-35px;
  }

  #searchButtonHomepage img {
    height: 100%;
    width: 100%;

  }
  
</style>
<div id="inputHomepage">
  <form action="" method="get" style="margin-left:600px; margin-top:-150px;">
  <form action="" method="get" style="margin-left:585px; margin-top:-150px;">
    <input type="text" id="searchFieldHomepage" name="search" placeholder="Search" value="{{ request.GET.search }}">
    <!-- <button type="submit" value="Search" id="searchButtonHomepage" style="margin-left: 70px;">
      <img src="{% static 'blog/img/search.png' %}">
    </button> -->
  </form>
</div>
<style>
  .text
  {
    text-decoration: none;
  }
</style>
<p style="font-family:'Amanda';font-size: 200% ;font-weight:bold;margin-left:-350px;color:#000000;text-decoration: none;">Your Posts</p>
{% endif %}
<div class="col-12 main_content">
  <!-- Posts -->
  {% if posts %}
    {% for post in posts %}
    <article>
      <div>
        <div class="article-datetime">
          <p style="color:rgb(0, 0, 0); margin-top: -20px; margin-left:-10px;">{{ post.date_posted|date:"F j, Y, H:i" }}</p>
        </div>
        <div class="article-headline">
          <style>
         
            /* Style the link */
            .article-title {
              color: #000000;
              text-decoration: none; /* Remove underline */
              font-weight: bold; /* Make the text bold */
            }
    
            /* Hover effect */
            .article-title:hover {             
              color: #000000;
              font-weight: bold;
              text-decoration: none;
              display: inline-block;
            }
            
            .oof {
              padding: 10px 20px;
              border-radius: 20px;
              background-size: 100% 100%;
              height: 200px;
            }
            
            .OOF2 {
              margin-left:-15px;
              border:1px solid #000000;
              border-radius: 20px;
              border-color: #000000;
            } 
          </style>
            <div class="container OOF2" style="background-color: rgb(226, 208, 248);"> 
              <a class="article-title" style="font-family:'Amanda';" href="{% url 'post-detail' post.id %}">
                {{ post.title }}
              </a>            
              <p class="article-content" style="color:#3a3131;">{{ post.content }}</p>       
              {% if post.image %}
              <img src="{{ post.image.url }}" class="imageMain container" style="border-radius: 20px; margin-left:-20px;">
              {% endif %}
              {% if post.audio %}
              <audio controls><source src="{{ post.audio.url }}" type="audio/mpeg"></audio>
               </div>
               </div>
           </div> 
     
      </div>
              {% endif %}        
       
    </article>   
   
    {% endfor %}
  
    <!-- Pagination -->
    {% if is_paginated %}

      <div class="pagination">
        {% if page_obj.has_previous %}
        {% if page_obj.number > 2 %}
        <a class="button rounded_button opacity_button" {% if request.GET.query %} href="?page=1&search={{ request.GET.search }}" {% else %} href="?page=1" {% endif %}>
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="font-size:20px;vertical-align:middle;">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
          </svg>
          <span style="padding-left:3px;">First page</span>
        </a>
        {% endif %}
        <a class="button rounded_button secondary_button" {% if request.GET.query %} href="?page={{ page_obj.previous_page_number }}&search={{ request.GET.search }}" {% else %} href="?page={{ page_obj.previous_page_number }}" {% endif %}>
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="font-size:20px;vertical-align:middle;">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
          </svg>
          <span style="padding-left:3px;">Previous page</span>
        </a>
        {% endif %}
        {% if page_obj.has_next %}
        <a class="button rounded_button secondary_button" {% if request.GET.query %} href="?page={{ page_obj.next_page_number }}&search={{ request.GET.search }}" {% else %} href="?page={{ page_obj.next_page_number }}" {% endif %}>
          <span style="padding-right:3px;">Next page</span>
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="font-size:20px;vertical-align:middle;">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg>
        </a>
        <a class="button rounded_button opacity_button" {% if request.GET.query %} href="?page={{ page_obj.paginator.num_pages }}&search={{ request.GET.search }}" {% else %} href="?page={{ page_obj.paginator.num_pages }}" {% endif %}>
          <span style="padding-right:-3px;">Last page</span>
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="font-size:20px;vertical-align:middle;">
            <path fill-rule="evenodd" d="M10.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L12.793 8l-2.647-2.646a.5.5 0 0 1 0-.708z"/>
            <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5H13a.5.5 0 0 1 0 1H2.5A.5.5 0 0 1 2 8z"/>
          </svg>
        </a>
        {% endif %}
      </div>
    {% endif %}
  {% else %}
    {% if request.GET.search %}
      <p class="no_posts">No posts were found</p>
    {% else %}
      <p class="no_posts" style="margin-top:-40px;">No posts yet</p>
    {% endif %}
  {% endif %}
</div>

{% endblock content %}

