{% extends "blog/base.html" %}

{% block content %}
<style>
    .text-container {
      margin-top: 80px; 
    }
  </style>
<header>
<h1 style="font-family: 'Amanda';color: #3c1ad1;">Reset Password</h2>
</header>
<div class="text-container">
  <li>Please enter your email address below</li>
  <li>We'll send you instructions on how to reset your password.</li>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Reset Password</button>
  </form>
</div>
{% endblock %}